.btn_write {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.btn_write button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.btn_write button:hover {
  background-color: black;
  color: white;
}
